body { background-image: url(444.jpg);background-size:100%;background-color:red;background-image: linear-gradient(white, black);padding:1em}
h1 {
color:black;
text-align:center;font-size:100px; }
